@import "tailwindcss";

body, html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

/* IE and Edge */
.scrollbar-hide {
  -ms-overflow-style: none;
}
